.font-link {
  font-family: 'Roboto Mono', cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
iframe
{
    display: none;
}

body::-webkit-scrollbar {
  width: 8px;   
  height:50px;            /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);  
  margin-top: 200px;
  margin-bottom: 200px;      /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(169, 179, 255);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb *//* creates padding around scroll thumb */
}
